.catalog_container {
    display: flex;
    gap: 29px;
  }
  
.catalog_card {
  width: calc(25% - 29px); 
  height: 426px;
  box-sizing: border-box;
}

.catalog_card img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.catalog_card h3 {
    margin: 8px 0;
  font-size: 18px;
}

.catalog_card p {
  margin: 8px 0;
  font-size: 16px;
}

.span {
  font-size: 24px;
  color: rgba(18, 20, 23, 0.10);
}